.page {
  width: 357px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.searchBlock {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.headerBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 357px;
}

.title {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
  margin: 0;
}

.cardsBlock {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}